{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_tags %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>{% trans 'Home' %}</li>
</ul>
{% endblock %}

{% block object-tools %}
{% if app_list|length > 3 %}
<div class="navbar-nav">
    <a id="applicationsDropdownMenuLink" class="nav-item nav-link dropdown dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans "Applications" %}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="applicationsDropdownMenuLink">
    {% for app in app_list %}
        {% if app.name|check_enabled %}
        <a class="dropdown-item" href="{{ app.app_url }}">{{ app.name }}</a>
        <!-- ADH TODO - menu too long, therefore useless
        <a class="dropdown-header"><strong>{{ app.name }}</strong></a>
        {% for model in app.models %}
        {% if model.admin_url %}
        <a class="dropdown-item" href="{{ model.admin_url }}">{{ model.name }}</a>
        {% else %}
        {{ model.name }}
        {% endif %}
        {% endfor %}
        {% if not forloop.last %}
        <div class="dropdown-divider"></div>
        {% endif %} -->
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        {% for app in app_list %}
        {% if app.name|check_enabled %}
        <div class="card bg-light mt-3">
            <div id="{{ app.label }}" class="card-header">
                <strong>{{ app.name }}</strong>{% if app.description %} ({{ app.description }}){% endif %}
            </div>
            <ul class="list-group list-group-flush">
            {% for model in app.models %}
                <li class="list-group-item">
                {% if model.admin_url %}
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                {% else %}
                    {{ model.name }}
                {% endif %}
                {% if model.add_url or model.admin_url%}
                    <div class="float-right">
                    {% if model.add_url %}
                        <a href="{{ model.add_url }}" class="card-link"><i class="far fa-plus-square"></i> {% trans 'Add' %}</a>
                    {% endif %}
                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}" class="card-link"><i class="fas fa-edit"></i> {% trans 'Change' %}</a>
                    {% endif %}
                    </div>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% empty %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
